
$body-bg: #dfe3e6;
$body-color: #686868;
$primary : #004c6d;


$font-family-base: "Nunito", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$display4-size:1.2rem !default;
$display4-weight:700 !default;

$input-height:2.7rem;
$input-border-radius: 2px !default;
$input-placeholder-color: rgba($body-color,.5) !default;
$input-border-color: rgba($body-color,.7) !default;

$loading-element:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2235%22%20height%3D%2235%22%20fill%3D%22%23004c6d%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) transparent center center no-repeat;


$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 900px,
  xl: 900px
) !default;

.loading,.disabled{
    pointer-events: none;
    opacity: .6;
}

//Import Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

// Import Bootstrap 
@import '~bootstrap/scss/bootstrap.scss';

@import 'image';

@import 'table';

@import 'form';